.row_field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
}
.input {
    padding: 8px;
    border-radius: 20px;
    border: 0.1px solid #3D3B40;
    width: calc(100% - 20px);
    margin: 10px;
}


.input input::placeholder {
    color: #B2B1B1;
}

.input input:focus {
    border-color: #7DADFE;
}

.label {
    font-size: 18px;
    color: #3D3B40;
    font-weight: 400;
    
}

.field {
    display: flex;
    flex-direction: column;
}

.form {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-rows: auto minmax(auto,100px);
    margin: 10px;

}

.title {
    color: #0061B1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;

}
.button {
    width: 150px;
    background-color: rgb(0, 97, 177);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
  }
  .buttoncontainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 100%;
  }